html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: /*#59A1FF */ #5DADE2;
}

#wrapper {
    height: 100%;
    background-color: /*#59A1FF */ #5DADE2;
}

.form-title {
    font-weight: bold;
    color: navy;
}

.centered {
    margin-left: 25%;
    margin-right: 25%;
    background-color: burlywood;
    padding: 10px;
    justify-content: center;
}

.validation-error {
    color: red;
    font-weight: bold;
}

.general-page-title {
    font-size: 34pt;
    font-family: Garamond;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

    .general-page-title span {
        padding-left: 5px;
    }

    .content-block-container {
        padding-top: 15px;
        padding-left: 25px;
        padding-right: 25px;
        height: 100%;
    }

.footer {
    z-index: 9999;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    color: white;
    background-color: navy;
    text-align: center;
}

.list-without-bullets {
    list-style-type: none;
}

/***v-select styles override ***/
.vs__dropdown-toggle {
    border: 1px solid navy !important;
}

.vs__open-indicator {
    fill: navy !important;
}