################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Avs.StaticSiteHosting/.vs/Avs.StaticSiteHosting
/Avs.StaticSiteHosting/bin/Debug/netcoreapp3.1
/Avs.StaticSiteHosting/ClientApp/dist
/Avs.StaticSiteHosting/ClientApp/node_modules
/Avs.StaticSiteHosting/Content/Test
/Avs.StaticSiteHosting/obj
/Avs.StaticSiteHosting/bin/Release/netcoreapp3.1
/Avs.StaticSiteHosting.DataMigrator/bin/Debug/netcoreapp3.1
/Avs.StaticSiteHosting.DataMigrator/obj/Debug/netcoreapp3.1
