################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Avs.StaticSiteHosting/.vs/Avs.StaticSiteHosting
/Avs.StaticSiteHosting/bin/Debug/netcoreapp3.1
/Avs.StaticSiteHosting/ClientApp/dist
/Avs.StaticSiteHosting/ClientApp/node_modules
/Avs.StaticSiteHosting/Content/Test
/Avs.StaticSiteHosting/obj
/Avs.StaticSiteHosting/bin/Release/netcoreapp3.1
/Avs.StaticSiteHosting.DataMigrator/bin/Debug/netcoreapp3.1
/Avs.StaticSiteHosting.DataMigrator/obj/Debug/netcoreapp3.1
/Avs.StaticSiteHosting.DataMigrator/bin/Release/netcoreapp3.1
/Avs.StaticSiteHosting.DataMigrator/obj/Release/netcoreapp3.1
/Avs.StaticSiteHosting.DataMigrator/obj
/Avs.StaticSiteHosting/bin/Debug/net5.0
/Avs.StaticSiteHosting.DataMigrator/bin/Debug/net5.0
/Avs.StaticSiteHosting/node_modules/*
/Avs.StaticSiteHosting/bin/Debug/net6.0
/Avs.StaticSiteHosting.DataMigrator/obj
/Avs.StaticSiteHosting.DataMigrator/bin/Debug/net6.0
/Avs.StaticSiteHosting/bin/Release/net6.0
/Avs.StaticSiteHosting/.vs/ProjectEvaluation
/Avs.StaticSiteHosting.ContentCreator/bin/Debug/net6.0
/Avs.StaticSiteHosting.ContentCreator/obj
/Avs.StaticSiteHosting/bin/Debug/net7.0
/Avs.StaticSiteHosting.ContentCreator/bin/Debug/net7.0
/Avs.StaticSiteHosting.DataMigrator/bin/Debug/net7.0
/Avs.StaticSiteHosting/bin/Release/net7.0
/Avs.StaticSiteHosting.DataMigrator/bin/Release/net7.0
/Avs.StaticSiteHosting.ContentCreator/bin/Release/net7.0
/Avs.StaticSiteHosting.Reports/obj
/Avs.StaticSiteHosting.Reports.Tests/bin/Debug/net7.0
/Avs.StaticSiteHosting.Reports.Tests/obj
/Avs.StaticSiteHosting.Reports/bin/Debug/net7.0
/Avs.StaticSiteHosting/bin/Debug/net8.0
/Avs.StaticSiteHosting.ContentCreator/bin/Debug/net8.0
/Avs.StaticSiteHosting.DataMigrator/bin/Debug/net8.0
/Avs.StaticSiteHosting.Reports/bin/Debug/net8.0
/Avs.StaticSiteHosting.Reports.Tests/bin/Debug/net8.0
